[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/magicatnokia
[access "refs/for/refs/*"]
	read = group user/magicatnokia
	push = group user/magicatnokia
	label-Code-Review = -2..+2 group user/magicatnokia
	label-Verified = -1..+1 group user/magicatnokia
	rebase = group user/magicatnokia
	removeReviewer = group user/magicatnokia
	submit = group user/magicatnokia
[access "refs/heads/*"]
	read = group user/magicatnokia
	create = group user/magicatnokia
	push = +force group user/magicatnokia
	pushMerge = group user/magicatnokia
[access "refs/tags/*"]
	push = group user/magicatnokia
	push = +force group user/magicatnokia
